.about {
  width: 100%;
  color: #293154;
  align-items: center;
}

.name {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #222d48;
  color: white;
}

.aboutMe {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  color: #343748;
  font-size: large;
}

.name h2 {
  font-size: 45px;
  color: #d5c56e;
  height: 50px;
}

.bio {
  width: 100%;
  font-size: 27px;
}

.bio svg {
  font-size: 40px;
  margin: 0 12px;
  color: rgba(255, 255, 255, 0.737);
}

h1 {
  color: #272e4d;
}

@media only screen and (max-width: 800px) {
  .name h2 {
    font-size: 40px;
  }

  .name .bio {
    margin-top: 10px;
    font-size: 20px;
    width: 80%;
  }

  .aboutMe {
    margin-left: 50px;
    margin-right: 50px;
  }
}